.header-color {
  background: #7400b8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #56cfe1, #5390d9, #7400b8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56cfe1, #5390d9, #7400b8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #7400b8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #56cfe1, #5390d9, #7400b8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56cfe1, #5390d9, #7400b8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
}

/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

/* contact page css */

.contact-body {
  margin: auto;
  width: 100%;
  height: 90%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 1rem;
}


/* contact page css */

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  max-height: 45%;
  min-height: 40%;
  margin: auto;
  padding-bottom: 5px;
  border-radius: 30px;
}

.banner-text h1 {
  font-size: 75px;
  font-weight: bold;
  color: white;
}

.banner-text h3 {
  font-size: 55px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.aboutpage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.col1, .col2 {
  display: flex;
  justify-content: center;
  text-align: left;
}

.col2 {
  min-width: 550px;
}

.col2 img {
  max-height: 30em;
  max-width: 40em;
}

.col1 {
  display: block;
  padding-left: 5em;
}

.col1 p {
  line-height: 3em;
}

@media (max-width: 600px) {
  .landing-grid {
    padding-top: 10px;
    min-height: 60%;
    overflow-y:scroll;
  }
  .landing-grid h1 {
    font-size: 3em;
    margin-bottom: 0;
    padding-top: 0.5em;
  }
  .landing-grid h3 {
    font-size: 1.8em;
    margin-bottom: 0;
  }
  .banner-text {
    width: 92%;
  }
  .banner-text p {
    margin-bottom: 0;
  }
  .social-links {
    margin-top: 0;
  }
  .fa-github-square {
    font-size: 30em;
    color: purple
  }
  .landing-grid img {
    width: 14rem;
    height: 14rem;
  }
}

@media (max-width: 700px) { 
  .aboutpage {
    display: flex;
    flex-direction: column;
  }

  .col1 {
    grid-row: 2;
    padding: 15px;
  }

  .aboutpage img {
    height: 80%;
  }
}

@media (max-width: 800px) {
  .contact-list {
    display: flex;
    flex-direction: column
  }
}

@media (max-width: 850px) {
  .contact-text {
    font-size: 0.8em;
  }
}